
.App {
  font-family: sans-serif;
  text-align: center;
}
.successStatus {
  color: green;
}
.failStatus {
  color: red;
}

.input-div {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: 378px;
}
.head {
  display: flex;
  margin-left: 40px;
  width: 90%;
  justify-content: space-between;
}
.add-btn {
  height: 30px;
  margin-top: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.table-tr {
  background-color: rgb(137 196 238);
}
.btn {
  background: rgb(12, 104, 169);
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.btn-sub {
  padding: 12px !important;
}
.search-title {
  width: 25%;
  height: 25px;
  margin-top: 14px;
  border-radius: 10px;
}